main {
    position: relative;
}

#quiz {
    color: white;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
}

#quiz h2 {
    text-align: center;
    margin: 0 auto;
    margin-top: 2em;
    font-size: 3em;
    width: 50%;
    background: black;
    border-radius: 20px;
}

button {
    display: inline-block;
    text-align: center;
    margin: 5%;
    background-color: lightgrey;
    font-size: 2.5em;
    width: 5em;
    height: 5em;
    color: black;
    vertical-align: bottom;
    border-radius: 20px;
}

button:first-of-type {
    margin-left: 20%;
}

button:hover {
    background-color: grey;
}

#response {
    display: none;
    margin: 0 auto;
    margin-left: 30%;
    text-align: center;
    width: 50px;
}