body {
    display: inline-block;
    background-image: url(../images/flat%20earth%20theory.jpg);
    background-position: center;
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    margin: 0;
    margin-top: 70px;
    width: 100%;
}

ul {
    color: white;
    text-align: center;
    background-color: black;
    margin: 0 auto;
    font-family: serif;
    border-radius: 500px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 450px;
    margin-bottom: 70px;
    list-style-type: none;
}

#navBar {
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    margin: 0;
}

#navBar ul {
    width: 100%;
    text-align: left;
    margin: 0;
}

#navBar ul li {
    display: inline-block;
    margin: 0 5%;
}

#navBar ul li:first-of-type {
    margin-left: 10%;
}

#navBar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
}