<html>
    <head>
        <title>Practice</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="../src/styles.css">
        <link rel="stylesheet" href="../src/home.css">
    </head>
    
    <body>
        <header>
            <nav id="navBar">
                <ul>
                    <li class="navItem">
                        <a href="index.html" >Home</a>
                    </li>
                    <li class="navItem">
                        <a href="quiz.html">Quiz</a>
                    </li>
                    <li class="navItem">
                        <a href="#">References</a>
                    </li>
                </ul>
            </nav>
        </header>
           <main>
               
                <h1>Hello World!</h1>
                
                <div id = "heading">
                    <h3>Or should I say...Hello Flat Earth!</h3>
                </div>
                <div id = "introduction">
                    <p>For many years, people preached the truth about the shape of the Earth. They warned travelers to beware falling off of the edge of this big flat rock in space. Just as we are the center of the Universe, let it be known that we are living on a <strong>flat Earth</strong>. Do not fall vicim to the decievers and the fools who would teach of a spherical Earth. Nonsense I say! I will provide proof and explaination for why the Earth is undoubtedly flat rather than a silly ball.</p>
                </div>

                <div id = "heading">
                    <h3>Evidence for it</h3>
                </div>

                <div id = "evidence">
                    <ul>
                        <li>When I look at the horizon, it is flat.</li>
                        <li>All of the water doesn't fall off of the bottom of the Earth.</li>
                        <li>I can't feel the Earth spinning.</li>
                        <li>It is what we believed for so long until the government started tricking people.</li>
                    </ul>
                </div>

                <div id = "heading">
                    <h3>Evidence against it</h3>
                </div>

                <div id = "against">
                    <ul>
                        <li>All pictures of the Earth from space are fake which is why it never looks the same in each picture.</li>
                        <li>The bottoms of buildings are flat and if the Earth were round then buildings would wobble.</li>
                        <li>I am right and you are wrong. Deal with it.</li>
                    </ul>
                </div>

                <div id = "images">
                    <img src = ../images/map.jpg alt = "Map of Flat Earth">
                    <img src = ../images/flat-earth-vs-round-earth.jpg alt = "Flat vs Round Earth">
                    <img src = ../images/flat-earth-from-nasa.jpeg alt = "Real Image of Flat Earth">
                </div>

                <div id = "quiz">
                    <h2>What shape is the Earth???</h2>
                    <h4>Flat</h4>
                    <h4>Round</h4>
                    <h4>Some Ridiculous Other Option</h4>
                </div>
            </main>
        <footer>
        </footer>
        <script src = ../src/scripts.js></script>
    </body>
</html>