<html>
    <head>
        <title>Practice</title>
        <link rel="stylesheet" href="../src/styles.css">
    </head>
    
    <body>
        <header id-"title">
            <h1>Hello World!</h1>
        </header>
            <div id = "heading">
                <h3>Or should I say...Hello Flat Earth!</h3>
            </div>
            <div id = "introduction">
                <p>For many years, people preached the truth about the shape of the Earth. They warned travelers to beware falling off of the edge of this big flat rock in space. Just as we are the center of the Universe, let it be known that we are living on a <strong>flat Earth</strong>. Do not fall vicim to the decievers and the fools who would teach of a spherical Earth. Nonsense I say! I will provide proof and explaination for why the Earth is undoubtedly flat rather than a silly ball.</p>
            </div>
        
            <div id = "heading">
                <h3>Evidence for it</h3>
            </div>
        
            <div id = "evidence">
                
            </div>
            
            <div id = "heading">
                <h3>Evidence against it</h3>
            </div>
        
            <div id = "against">
            
            </div>
        
            <div id = "map">
            
            </div>
        
        <footer>
        </footer>
    </body>
</html>