<html>
    <head>
        <title>Quiz</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="../src/styles.css">
        <link rel="stylesheet" href="../src/quizStyle.css">
    </head>
    <body>
        <header>
            <nav id="navBar">
                <ul>
                    <li class="navItem">
                        <a href="index.html" >Home</a>
                    </li>
                    <li class="navItem">
                        <a href="quiz.html">Quiz</a>
                    </li>
                    <li class="navItem">
                        <a href="#">References</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div id = "quiz">
                <h2>What shape is the Earth???</h2>
                <h4>Flat</h4>
                <h4>Round</h4>
                <h4>Some Ridiculous Other Option</h4>
            </div>
        </main>
        <footer></footer>
    </body>
    
    
</html>