<html>
    <head>
        <title>Quiz</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="../src/styles.css">
        <link rel="stylesheet" href="../src/quizStyle.css">
    </head>
    <body>
        <header>
            <nav id="navBar">
                <ul>
                    <li class="navItem">
                        <a href="index.html" >Home</a>
                    </li>
                    <li class="navItem">
                        <a href="quiz.html">Quiz</a>
                    </li>
                    <li class="navItem">
                        <a href="#">References</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div id = "quiz">
                <h2>What shape is the Earth???</h2>
                <button class="button" id="option">Flat</button>
                <button class="button">Round</button>
                <button class="button">Some Ridiculous Other Option</button>
                <div id="response"><img src="#" alt="Response Image"></div>
            </div>
            <script type="text/javascript" src = "../src/scripts.js"></script>
        </main>
        <footer></footer>
    </body>
    
    
</html>