<html>
    <head>
        <title>Quiz</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="../src/styles.css">
    </head>
    <body>
        <header>
            <nav id="navBar">
                <ul>
                    <li class="navItem">
                        <a href="index.html" >Home</a>
                    </li>
                    <li class="navItem">
                        <a href="quiz.html">Quiz</a>
                    </li>
                    <li class="navItem">
                        <a href="#">References</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main></main>
        <footer></footer>
    </body>
    
    
</html>